footer
  .container.text-center
    ul.list-inline
      li
        a(href='/about') About HealthWe
      li  
      li  
      li
        a(href='/contact') Contact Us
      //- li  
      //-   a(href="/terms") Terms &amp; Conditions
  p.shading.text-center © 2017 HealthWe, Inc. All Rights Reserved
