.navbar.navbar-default.navbar-fixed-top
  .container.nowrap
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        img(src="./healthwelogo.png")
    .collapse.navbar-collapse
      br
      br
      ul.nav.navbar-nav    
        li(class=(title === 'About') ? 'active' : undefined)
          a(href='/about') About
        li(class=(title === 'How It Works') ? 'active' : undefined)
          a(href='/howitworks') How It Works       
        li(class=(title === 'Get Started') ? 'active' : undefined)
          a(href='/getstarted') Get Started        
        li(class=(title === 'Success Stories') ? 'active' : undefined)
          a(href='/successstories') Success Stories          
        li(class=(title === 'Help') ? 'active' : undefined)
          a(href='/help') Help                
        li(class=(title === 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
          //- ul.nav.navbar-nav.navbar-right  
        ul.nav.navbar-nav     
             
            if !user
              li.dropdown(class=(title === 'Accounts') ? 'active' : undefined)
                a.dropdown-toggle(href='#', data-toggle='dropdown') Accounts
                  i.caret
                ul.dropdown-menu
                  li(class=(title === 'Login') ? 'active' : undefined)
                    a(href='/login') Login
                  li.divider
                  li(class=(title === 'Create Account') ? 'active' : undefined)
                    a(href='/signup') Sign Up


              //- li(class=(title === 'Login') ? 'active' : undefined)
              //-   a(href='/login') Login
              //- li(class=(title === 'Create Account') ? 'active' : undefined)
              //-   a(href='/signup') Sign Up
            else
              li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  if user.profile.picture
                    img(src=user.profile.picture)
                  else
                    img(src=user.gravatar(60))
                  span= user.profile.name || user.email || user.id
                  i.caret
                ul.dropdown-menu
                  li
                    a(href='/account') My Account
                  li.divider
                  li
                    a(href='/logout') Logout
