extends layout
block content
    h2
        | We've Been In Your Shoes.
        br
        | That's Why We Created HealthWe.
    div.shadeblock
        h4.smallheading Making Changes Is Hard.
        p
            | HealthWe was developed because, like you, we've struggled with making lasting
            | health changes. We tried regular logging apps, and online communities, but
            | neither truly kept us accountable. HealthWe changes that by requiring you to
            | partner with people in your life who have the same goals and who want to see
            | you succeed. You're accountable to each other online, and in person. This makes
            | it easier to stay on track so you don't fall off the wagon easily.  
        br
        p  ​
            | Getting started is easy, but your health journey probably won't be. Realize the
            | power that a supportive relationship can have on helping you achieve your goals.
        a.btn(href='/getstarted') Get Started Now
