extends layout

block content
    h1.text-center Edit Entry
    div.float-left-dash
        h3.text-center Update Log Entry
        br
        div.float-left-dash
            form(method="POST", autocomplete="on", action="/editlog")
                input(type="hidden", name="_csrf", value=_csrf)
                input(type="hidden", name="logentryID", value = "")
                |    Date*
                br
                input(type="date", name="editedLogDateTime", required="")
                br
                | Log Entry Type*
                br
                select(required="", name="editedlogtype")
                    option(value="default", selected="", disabled="", hidden="") Select
                    option(value="Weight") Weight
                    option(value="Exercise") Exercise
                    option(value="Food") Food
                br
                |     Entry Details* 
                br
                textarea(name="editedLogDetails", required="", rows="3", cols="35")
                br
                |     Current Progress*
                br
                input(type="number", name="editedLogProgress", required="")
                //- br
                //- |     Goal*
                //- br
                //- input(type="number", name="LogGoal", required="")
                br        
                |     Picture Upload
                br
                input(type="file", name="editedLogImage", accept="image/*")
                br
                input(type="submit", class="btn editentry", value="Update Entry")
