extends layout

block content

    h4.text-center Forum
        //- div(ng-view)
        //- div(ng-controller="forumController", ng-init="users= #{JSON.stringify(users)}")
        //-     div(ng-repeat="user in users") 
        //-         p {{user.title}}
