extends layout
block content
    h1 Ready for the Challenge?
    h2 Start Here.
    div.shadeblock
        h4 Get Started with Just a Few Steps.
        p
            | You should be proud that you're ready to make a commitment to improving
            | your health. Follow the steps below for the best results.
        ol
            li
                b Find Your HealthWe Partner(s).
                br
                p
                    | To maintain a HealthWe account, you must have at least one other person in
                    | your group. This ensures that you will have the support needed to succeed.
                    | Talk to your friends and family about your health goals, and find those who
                    | have a similar aim, and are willing to commit to the journey.
            li
                b Register and Start a Group.
                br
                p
                    a(href='/signup') Visit our Sign Up page 
                    | to register with your email address. You'll
                    | be asked to either join an existing HealthWe group, or create your own.
                    | Each HealthWe group must have a unique name. If you are starting a group,
                    | you must provide a name. If you are joining a group, simply enter the group
                    | name in the search box and click on the correct result.
            li
                b Set Your Group Goal.
                br
                p
                    | HealthWe combines each group member's goal into one aggregate goal that
                    | everyone can track. For example, if Mary wants to lose 5 pounds and Kate
                    | wants to lose 8 pounds, their group goal would be 13 pounds. Each member
                    | can see their own progress toward their individual goal, and the progress
                    | toward the overall group goal. Group goals can be related to weight loss,
                    | amount of exercise, or food intake. Each group is limited to one goal at a
                    | time. This helps you focus and increases your probability of success.
            li
                b Start Tracking.
                br
                p
                    | Track your progress toward your individual goal and the group's
                    | progress will be updated automatically! The more faithful you are about
                    | tracking, the better. Don't forget to check in with your HealthWe group
                    | members so you can keep each other motivated and on track.
        a.btn(href='/signup') Sign Up