h1 Have Questions or Need More Info?
p
    | Our goal is to make your experience with HealthWe as simple and rewarding as
    | possible. If you have questions or concerns, please refer to the help topics on
    | this page. If you still need assistance, please contact us.
div
    h4 Login &amp; Accessibility
    p
        i How can I create a HealthWe account?
    p
        | To create a HealthWe account, you'll need your email address and a password.
        | You'll also need to either start a new HealthWe group or join an existing group.
        | If you do not have at least two members in your group within 14 days of signing
        | up, your group will be disbanded, and you will need to repeat the sign up process.
        | Visit our Sign Up page to create your account.
    p
        i I'm having trouble accessing my HealthWe account.
    p
        | If you have forgotten your password, please visit the login page and select
        | Forgot Your Password. You will be sent an email with a link where you can
        | reset the password. For other accessibility issues, please contact us directly.
    p
        i Is there a HealthWe mobile app?
    p
        | We are in the process of developing a HealthWe app for both Android and iOS
        | devices. We hope to being beta testing soon!
    h4 Profile &amp; Tracking
    p
        i How can I edit my profile?
    p
        | Once you've logged in to HealthWe, click the pencil icon in the upper
        | right hand corner of the screen to edit your name, login information, and
        | manage your group memberships.
    p
        i How can I add a log entry?
    p
        | After logging in to HealthWe, you will see your individual dashboard. At the
        | top of the screen, where it says "New Log Entry." click the dropdown menu to
        | select the type of log entry you want to complete. Then complete the additional
        | form fields and click "Submit Entry."
    p
        i How can I delete a log entry?
    p
        | Navigate to your individual dashboard and scroll down to your log. Click the
        | Edit Log button to see options for deleting or editing a log entry.
    button Contact Us
