extends layout
block content 
    img.heroimage(src="images/homeimage.png")
    h1.text-center Achieve Your Health Goals...
    h2.text-center with a Little Help From Your Friends
    div.shadeblock
        table
            tbody
                tr
                    td
                        img(src="images/homeimage2.png")
                    td
                        h4.smallheading.increasedmargin.text-align-left Welcome to HealthWe
                        p.text-align-left.increasedmargin
                            | HealthWe is a unique health and fitness platform designed to help you achieve
                            | your goals. You will partner with others in your life who have similar aims,
                            | and work together to help you make lasting changes.
                        br
                        div.text-center.increasedmarginleft
                            a.btn(href='/howitworks') Learn More