extends layout
block content 
    img.heroimage(src="images/howitworkshero.jpg")
    h2.text-center Want to Know More?
    h2.text-center Find Out How HealthWe Works.
    div.shadeblock
        h4.smallheading The Ideas Behind HealthWe are Simple.
        br
        ol
            li
                b Accountability Inspires Motivation and Leads to Success.
                p
                    | There are dozens of traditional food and fitness trackers available.
                    | However, they rely on a key principle that many people who struggle to
                    | meet their health ideals lack: true accountability for falling off the
                    | wagon or abandoning goals.
                p
                    | With HealthWe, you must be part of a group (two or more members) to
                    | maintain an account. By working with those close to you, who see you on a
                    | regular basis and know your tendencies, you shed the anonymity offered by
                    | other fitness communities and are expected to make progress. If and when
                    | you struggle, you can count on a fellow group member's support and
                    | encouragement.
            li
                b A Shared Goal Encourages Teamwork.
                p
                    | When someone else has the same difficulties and the same ideals
                    | you do, it's much easier to relate to each other. It drives you to
                    | be open about your successes and your setbacks so you get the support
                    | you need to keep progressing to your goal, even when it gets tough. Working
                    | together also allows you to share strategies that you've discovered which can
                    | help your group members, too.
            li
                b Tracking Your Goals and Activities Enhances Mindfulness.
                p
                    | Studies have shown that monitoring and logging your food intake helps
                    | minimize mindless snacking. Keeping track of your activity levels can
                    | also inspire consistency and ensures that you accurately note your progress.
                p
                    | You can do this! By dedicating yourself to achieving your goal, making a
                    | commitment to others, and measuring your progress, you will succeed.
        br
        div.text-center
            a.btn(href='/getstarted') Get Started Now
