extends layout

block content
    if isNew
        h1.text-center New to HealthWe? Make an Account Now!
    else
        h1.text-center Already a Member? Log In 
    div.float-left-dash
        if isNew
            form(method="POST")
                input(type="hidden", name="_csrf", value=_csrf)    
                | Full Name*
                br
                input(type="text", class="inputwidth", name="fullname", required="")
                br
                br
                | Email Address*
                br
                input(type="email", class="inputwidth", name="emailaddr", required="")
                br
                br
                | Password*
                br
                input(type="password", class="inputwidth", name="password", required="")                
                br
                br
                | Join a Group or Start a New Group?*
                br
                select(required="" class= "inputwidth" name="joinstart")
                    option(value="default", selected="", disabled="", hidden="") Select
                    option(value="JoinGroup") Join a Group
                    option(value="StartGroup") Start a Group
                br
                br
                | Group Name*
                br
                input(type="text", class="inputwidth", name="groupname", required="")
                br
                br
                | Your Personal Weekly Goal*
                br
                input(type="number", class="inputwidth", name="goalvalue", required="")
                br            
                br
                br
                input(type="submit", class= "btn", value="Create My Account")
        else
            h3 With Your HealthWe Account
            form(method="POST" autocomplete="on")
                input(type="hidden", name="_csrf", value=_csrf)    
                | Email Address*
                br
                input(type="email", class="inputwidth", name="mememailaddr", required="")
                br
                |         Password*
                br
                input(type="password", class="inputwidth", name="mempassword", required="")
                br
                br
                a(href='/forgot') Forgot Your Password?
                br
                input(type="submit", class="btn", value="Log In")
    div.float-right-dash
        if isNew
            .shadeblock
                h4 
                 i "HealthWe has helped me become more fit, and it's so easy to use! I wish I'd found it sooner."
                h5
                 i -Lauren G., HealthWe Member Since January 2017
            .shadeblock
                h4 
                    i "My brother and I have lost 50 pounds with HealthWe. It's great that we can see each other's goals so we can work together to achieve them."
                h5
                    i -Jim L., HealthWe Member Since October 2016
        else
            h3 Or Log In with Another Account
            br
            a.btn.btn-block.btn-facebook.btn-social.text-center(href='/auth/facebook') Facebook
            br
            a.btn.btn-block.btn-google.btn-social(href='/auth/google') Google
            //- br      
            //- a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter') Twitter   
            br
            a.btn.btn-block.btn-github.btn-social(href='/auth/github') GitHub  
            //- br
            //- a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin') LinkedIn

