extends layout
block content
    br
    if isNew
        div.float-dash-left
            h3 New to HealthWe? Make an Account Now!
            form(method="POST")
                input(type="hidden", name="_csrf", value=_csrf)    
                | Full Name*
                br
                input(type="text", name="fullname", required="")
                br
                | Email Address*
                br
                input(type="email", name="emailaddr", required="")
                br
                | Join a Group or Start a New Group?*
                br
                select(required="" name="joinstart")
                    option(value="default", selected="", disabled="", hidden="") Select
                    option(value="JoinGroup") Join a Group
                    option(value="StartGroup") Start a Group
                br
                | Group Name*
                br
                input(type="text", name="groupname", required="")
                br
                | Your Personal Weekly Goal*
                br
                input(type="number", name="goalvalue", required="")
                br            
                | Password*
                br
                input(type="password", name="password", required="")
                br
                input(type="submit", class= "btn", value="Create My Account")
    else
        div.float-dash-left
            h3 Already a Member? Log In Here
            form(method="POST" autocomplete="on")
                input(type="hidden", name="_csrf", value=_csrf)    
                | Email Address*
                br
                input(type="email", name="mememailaddr", required="")
                br
                |         Password*
                br
                input(type="password", name="mempassword", required="")
                br
                a(href='/forgot') Forgot Your Password?
                br
                input(type="submit", class="btn", value="Log In")
        br
        br
        div.float-dash-right
            a.btn(href='/auth/facebook') Sign in with Facebook
            br
            br
            a.btn(href='/auth/twitter') Sign in with Twitter
            br
            br
            a.btn(href='/auth/google') Sign in with Google
            br
            br
            a.btn(href='/auth/github') Sign in with GitHub
            br
            br
            a.btn(href='/auth/linkedin') Sign in with LinkedIn      

