extends layout
block content 
    img.heroimage(src="images/successstorieshero.jpg")
    h2.text-center Working Together is Better.
    h2.text-center See How Support Leads to Success.
    br
    p
        | HealthWe is a unique health and fitness platform designed to help you achieve
        | your goals. You will partner with others in your life who have similar aims, and
        | work together to help you make lasting changes.
    div.shadeblock
        table
            tbody
                tr
                    td.text-align-left
                        h4.smallheading Meet Sam...
                        p
                            i
                                | "After moving to a new city and starting a stressful new job, I turned to
                                | food for comfort. Over the course of 6 months, I gained 70 pounds and
                                | weighed more than I ever had. I was depressed, and knew what I needed to do
                                | to make a change, but couldn't get motivated. A friend from my hometown was
                                | experiencing a similar struggle when we found HealthWe. Together, we've lost
                                | 100 pounds combined in 8 months, thanks to HealthWe! I'm so glad I found this
                                | tool."
                    td
                        img.increasedmargin.increasedmarginright(src="images/successstory2.jpg")
                        br
                        br
                        br
                
                tr
                    td.text-align-left
                        h4.smallheading Meet Taylor...
                        p
                            i
                                | "I have never enjoyed exercising, and while I wasn't significantly overweight, I've never
                                | been fit. After a health scare, I realized that I needed to adopt a workout
                                | routine to get stronger and healthier. I partnered with my coworker and my
                                | sister to develop and stick to an exercise schedule. It's been 3 months,
                                | and I now workout for an average of 6 hours a week. This tool was a
                                | game-changer because I was truly held accountable for my actions, and my
                                | coworker and sister have supported me the whole time!"
                    td
                        img.increasedmargin(src="images/successstory1.jpg")
                    td
    br
    h4.text-center.smallheading Become a HealthWe Success Story
    p
        | Thousands of people across the globe have turned to HealthWe to make their health
        | and fitness goals a reality. Now it's your turn.
    div.text-center
        br
        a.btn(href='/getstarted') Get Started Now